<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>9cce2ed5-3632-4e34-b1eb-a41e1200608a</id>
    <name>is4wfw wiki</name>
    <version>0.0</version>
    <is4wfw>
        <minVersion>341.1</minVersion>
    </is4wfw>
    <gitHub>
        <repository>
            <name>neptuo/is4wfw-wiki</name>
        </repository>
    </gitHub>
</module>
